<%= flash.now[:alert] %>

<div  class="index clearfix" style="width: 200px; height: 100%; float: left; margin-right: 30px; border-right: 2px solid black; padding-top: 20px; background-color: #f5f5f5; position: fixed; margin-top: 40px;">
	<div style="margin-top: 50px;">
		<h4 style="text-align: center;">サイト利用の心得</h4>
		<h5 style="text-align: center; padding-top: 20px;">その一、</h5>
		<h6 style="text-align: center;">自己紹介は詳細に書くべし</h6>
		<p style="font-size: 10px;">自己紹介が長い人ほどいいねを受けやすいというデータがあります。自己紹介はなるべく詳細に、文字数を多く書くようにしましょう。</p>

		<h5 style="text-align: center; padding-top: 50px;">その二、</h5>
		<h6 style="text-align: center;">スキルをなるべく多く登録すべし</h6>
		<p style="font-size: 10px;">おすすめユーザーには自分が登録しているスキルと同じカテゴリのスキルを保有しているユーザーのみ表示されるようになっています。そのため、少しでも興味のあることについては登録しておきましょう。</p>

		<h5 style="text-align: center; padding-top: 50px;">その三、</h5>
		<h6 style="text-align: center;">積極的にいいねすべし</h6>
		<p style="font-size: 10px;">お互いにいいねをし合うとマッチングが成立し、チャットが開始できるようになります。チャットをしてみると新しいことに興味を持つきっかけになるかもしれません。少しでも興味を持った人には積極的にいいねをし、チャットで会話をしましょう。</p>

	</div>

</div>

<div class="divimage2" style="text-align: center; width: 100%; background-position: center; background-size: contain; height: 250px;">
</div>

<% if current_user.skills == [] %>
	<div class="clearfix" style="padding-left: 500px; color: red; border: red solid 1px;">
		<h4>まずはスキルを登録してください。<br>
			スキルを追加すると、そのカテゴリに紐付いたユーザーが表示されます。<br>
		    ＜スキル追加方法＞<br>
		     １、右上の「マイページボタン」をクリック<br>
		     ２、マイページ下部の「ユーザー情報を編集する」ボタンをクリック<br>
		     ３、編集ページ下部の「スキルを追加」をクリック<br>
		     ４、カテゴリを選択の上、ご自身のスキルの詳細を登録してください</h4>
	</div>
<% end %>

<section class="our-webcoderskull padding-lg">
  <div class="container" style="float: left; margin-left: 200px;">
    <div class="row heading heading-icon" style="text-align: center; padding-bottom: 40px;">
        <h2>おすすめユーザー</h2>
        <p style="font-size: 15px;">こちらには、あなたが登録しているスキルのカテゴリーに通じるユーザーが表示されます。<br>
           ユーザーの名前をクリックして詳細ページに移動(名前をクリック)し、話したいと思ったユーザーにいいねを押してください。</p>
    </div>
	    <ul class="row">
	    <% @users.each do |users| %>
	    <a href="<%= user_path(users.id) %>">
	      <li class="col-12 col-md-6 col-lg-3" style="position: static;">
	          <div class="clearfix cnt-block equal-hight" style="height: 350px;">
	            <figure><img src="<%= attachment_url(users, :image, :fill, 600, 600) %>"></figure>
	            <h3><%= users.first_name %> <%= users.last_name %></h3>

        		<% if current_user.age_group == '若者' %>
		            <h5 style="color: navy;">保有スキル</h5>
		            <% users.skills.each do |skill| %>
		               <%= skill.skill_name %>
		            <% end %>
		        <% elsif current_user.age_group == 'シニア' %>
		        	<h5>興味のあるスキル</h5>
		            <% users.skills.each do |skill| %>
		               <%= skill.skill_name %>
	            	<% end %>
	            <% else %>
	            	<h5> </h5>
	            <% end %>
	          </div>
	      </li>
	    </a>
	    <% end %>
	    </ul>
  </div>
</section>




<section class="our-webcoderskull padding-lg" style="margin-left: 200px;">
  <div class="container" style="float: left;">
    <div class="row heading heading-icon" style="text-align: center; padding-bottom: 40px; ">
        <h2>マッチング一覧</h2>
        <p style="font-size: 15px;">こちらには、お互いにいいねがされ、マッチングが成立したユーザーの一覧が表示されます。<br>
           「チャットをする」をクリックし、チャットを開始してください。</p>
    </div>
	    <ul class="row">
	    <% @chatroom_with_follower.each do |chatuser| %>
	    <a href="<%= user_path(chatuser[:follower_user]) %>">
	      <li class="col-12 col-md-6 col-lg-3" style="position: static;">
	          <div class="cnt-block equal-hight" style="height: 349px;">
	            <figure><img src="<%= attachment_url(chatuser[:follower_user], :image, :fill, 600, 600) %>"></figure>
	            <h3><%= chatuser[:follower_user].first_name %> <%= chatuser[:follower_user].last_name %></h3>

        		<% if current_user.age_group == '若者' %>
		            <h5>保有スキル</h5>
		            <% chatuser[:follower_user].skills.each do |skill| %>
		               <%= skill.skill_name %>
	            	<% end %>

		        <% elsif current_user.age_group == 'シニア' %>
		        	<h5>興味のあるスキル</h5>
		            <% chatuser[:follower_user].skills.each do |skill| %>
		               <%= skill.skill_name %>
	            	<% end %>
	            <% else %>
	            	<h5> </h5>
	            <% end %>

   	            <object><p><a href="<%= chatroom_path(chatuser[:chatroom_id]) %>" style="color: orange;">チャットをする</a></p></object>
	          </div>
	      </li>
	    </a>
	    <% end %>
	    </ul>
  </div>
</section>



