<div class="clearfix" style="margin-top: 60px; margin-left: 200px;">
	<div class="clearfix">
		<div>
			<h1><%= @user.first_name %> <%= @user.last_name %> (<%= @user.first_name_kana %> <%= @user.last_name_kana %>)</h1>
		</div>

		<div class="clearfix" style="float: left; margin-top: 30px;">
			<img style="width: 500px;" src="<%= attachment_url(@user, :image, :fill, 720, 500, format: 'jpeg') %>">
		</div>

		<div class="clearfix" style="float:left; margin-left: 100px; margin-top: 30px;">
			<h4>居住地:</h4>
			<h4>年齢:</h4>
			<h4>自己紹介:</h4>
		</div>

		<div class="clearfix" style="float:left; margin-left: 20px; margin-top: 30px;">
			<h4><%= @user.location %></h4>
			<h4><%= @user.age %></h4>
			<h4><%= @user.introduction %></h4>
		</div>
	</div>

	<div>
		<%= flash[:success] %>
		<%= render "relationships/follow_button", user: @user %>
    </div>

    <div>
    	<% if @user == current_user %>
			<button type="button" class="btn btn-default" style="width: 100px;"><%= link_to "編集" ,edit_user_path(@user.id) %></button>
		<% end %>
	</div>

</div>


