<div class="clearfix" style="margin-top: 60px; margin-left: 200px;">
	<div class="clearfix">
		<div>
			<h1><%= @user.first_name %> <%= @user.last_name %> (<%= @user.first_name_kana %> <%= @user.last_name_kana %>)</h1>
		</div>

		<div class="clearfix" style="float: left; margin-top: 30px;">
			<img style="width: 500px;" src="<%= attachment_url(@user, :image, :fill, 720, 500, format: 'jpeg') %>">
		</div>

		<div class="clearfix" style="float:left; margin-left: 100px; margin-top: 30px;">
			<h4>居住地:</h4>
			<h4>年齢:</h4>
			<h4>自己紹介:</h4>
		</div>

		<div class="clearfix" style="float:left; margin-left: 20px; margin-top: 30px;">
			<h4><%= @user.location %></h4>
			<h4><%= @user.age %></h4>
			<h4><%= @user.introduction %></h4>
		</div>
	</div>


	<div class="clearfix" style="margin-left: 20px; margin-top: 50px;">
			<% if current_user.age_group == '若者' %>
				<h4>興味のあるスキル（カテゴリ/スキル内容）</h4>
			<% else current_user.age_group == 'シニア' %>
				<h4>保有スキル（カテゴリ/スキル内容）</h4>
			<% end %>
		<div style="margin-top: 30px;">
			<% @user.skills.each do |skill| %>
				<div style="border: 1px solid; width: 100px; text-align: center; float: left; margin-left: 20px;">
					<h4><%= skill.category.category_name %></h4>
					<p><%= skill.skill_name %></p>
				</div>
			<% end %>
		</div>
	</div>

	<div style="margin-top: 50px;">
		<%= flash[:success] %>
		<%= render "relationships/follow_button", user: @user %>
    </div>

	<% if @user == current_user %>
	    <div class="clearfix">
	    	<h3>あなたがいいねしたユーザー</h3>
	    	<% @user.followers.each do |f| %>
	    	<div class="clearfix" style="float: left; padding-left: 10px; margin-top: 20px;">
	    		<a href="<%= user_path(f.id) %>">
	    		<img src="<%= attachment_url(f, :image, :fill, 100, 100) %>" style="border-radius: 100px;"></a>
	    		<p><%= f.first_name %> <%= f.last_name %>さん</p>
	    	</div>
	    	<% end %>
	    </div>

		<div class="clearfix" style="width: 700px; margin-left: 200px; margin-top: 20px;">
			<%= link_to "ユーザー情報を編集する" ,edit_user_path(@user.id), class: 'btn btn-primary btn-block' %>
		</div>
	<% end %>

</div>


